.simi-container {
  max-width: 1400px !important;
  margin: 0 auto;
  padding: 0 30px;
}

.post-content {
  text-align: left;
  color: white;
  padding: 20px;
}

.heading {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.post-text {
  margin-bottom: 40px;
  font-size: 1.2em;
  line-height: 1.6;
  padding: 0 45px 0 45px
}

.signature-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.signature-container p {
  margin: 0;
}

.post-image {
  margin-top: 30px;
  max-width: 100%;
  padding: 0 45px 0 45px;
}

.post-image-caillou {
  max-width: 80px;
  margin: 0;
}

.post-image img,
.post-image-caillou img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}